@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F3F5F6;
  font-family: 'Raleway', sans-serif;
  color: #242B31
}
input{
  font-family: 'Raleway', sans-serif;

}

.custom_radio:checked~.radio {
  color: white;
  background-color: #242B31;
  width: 100%;
}
/* select option */
.select_custom_input_wrap >div{
  background-color: white;
  height:70px ; 
  border: none;
  border-radius: 16px;
} 
.select_custom_input_wrap_without_label >div{
  background-color: white;
  padding: 18px 16px;
  height: 56px;
  border: none;
  border-radius: 16px;
} 
.select_custom_input_wrap_without_label_transparent >div{
  background-color: transparent;
  padding: 18px 16px;
  height: 56px;
  border: none;
  border-radius: 16px;
} 

.select_custom_input_wrap >div button span{
  padding-left: 16px;
  padding-top:25px; 
} 

.select_custom_input_wrap_without_label >div button span{
  padding-left: 16px; 
  padding-top: 0px;
} 
.select_custom_input_wrap_without_label_transparent >div button span{
  padding-left: 9px; 
  padding-top: 0px;
  color:white;
  font-size: 16px;
} 
 .select_custom_input_wrap_without_label_dark >div button span{
  padding-left: 9px; 
  padding-top: 0px;
  color:black;
  font-size: 16px;
} 
.select_custom_input_wrap_without_label_transparent >div {
min-width: 100px;
height: 40px;

} 
.select_custom_input_wrap >div button > div{ 
  right:16px

} 
.select_custom_input_wrap >div>label::after{
  display: none;
  border: none;
  top: 0px;
}
.select_custom_input_wrap_without_label_transparent >div button > div{
  right: 30px!important;
  color: white;
}
.select_custom_input_wrap_without_label_dark >div button > div{
  right: 30px!important;
  color: black;
}
.select_custom_input_wrap_without_label_dark_small_gap >div button > div{
  right: 48px!important; 
  color: black;
}
.select_custom_input_wrap_without_label_dark_small_gap_img >div button > div{
  right: 9px!important; 
  color: black;
}

.select_custom_input_wrap_without_label_dark_small_gap_img >div {
  min-width:85px;
  height: 40px;
  
  } 
.select_custom_input_wrap_without_label_dark_small_gap{
  width: 60px;
}

.select_custom_input{
  border: none;
}
/* input wrap */
.input_wrap div{
  height: 100%;
  border: none; 
}
.input_wrap div input{
  border: none;
  font-size: 20px;
  height: 100%;
  padding-top: 25px;
  padding-left: 16px;
}
.input_wrap div input:focus ~label  {
top: 12px;
  left: 16px;
} 
.input_wrap div.relative > input ~label{
  /* border: 0;
  outline: none;
  top: 12px; 
  line-height: 5.2; 
  left: 16px; */
  left: 16px; 
  font-size: 12px; 
}
.input_wrap div label::after{
  display: none;
  outline: none;
  border: none;
  top: 0px;
}
.gradient_letter{
  background:linear-gradient(180deg, #F3F4F5 17.69%, rgba(252, 252, 252, 0) 77.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
}
.accordion-wrap > .overflow-hidden{
  max-height: 40px; 

}
.green_cursor{
  caret-color:#36CFA1
}
@layer utilities {
  .radio_custom_input {
    @apply radio text-center self-center py-[12px] px-[70px] rounded-[12px] cursor-pointer hover:opacity-75 transition-all w-full text-ls font-medium  h-[44px] flex justify-center items-center
  } 
  .panel_button{
    @apply bg-[#30B68D] text-white rounded-[10px] w-full font-medium	text-xs md:text-ls px-[13px] py-[10px]  md:p-[10px] leading-[20px] text-center hover:bg-[#30b68e96]
  }
  .panel_button.gray{
    @apply bg-[#E7EAEE] text-[#242B31]
  }
  .sidebar_option li{
    @apply flex m-[10px] ml-0 border-l-[4px] border-transparent pl-[30px] items-center text-ls rounded-[4px] cursor-pointer 
  }
  .sidebar_option li div.option_icon{
    @apply pr-[10px]
  }
  .sidebar_option li.active{
    @apply text-[#36CFA1] border-[#36CFA1]
  }
  .chat-header-shadow{

    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }
  .message-wrap{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .message-wrap::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  .slide_wrap_main{
  @apply min-w-[285px] max-w-[285px] md:min-w-[388px] md:max-w-[388px]
  }
  .code_slide_single_container{
    @apply bg-[#F7F8F9] p-[12px] md:p-[16px] rounded-[16px]
  }
  .code_slide_icon_wrap{
    @apply min-w-[40px] md:min-w-[56px] h-[40px] md:h-[56px] p-[10px] bg-[#E5F6F1] flex justify-center items-center rounded-full
  }
  /*   */
  .code_slide_icon_wrap.gray{
    @apply bg-[#F3F5F6] 
  }
  .code_text_b{
    @apply text-xs leading-[16px] md:text-[15px] md:leading-[18px] text-[#64748B] uppercase
  }
  .code_color_box{
    @apply text-[10px] leading-[12px] md:text-xs px-[8px] py-[4px] rounded-[8px] font-medium
  }
  .code_large_text{
    @apply text-sm md:text-normal font-semibold mt-[7px] mb-[4px] md:my-[8px] 
  }
  .code_down_small_text{
    @apply text-[10px] leading-[12px] md:text-xs font-medium
  }

  .bottom_nav_item{
    @apply text-[#B8C0CC] text-xs  w-full flex justify-center gap-[3px] flex-col items-center
  }
  .bottom_nav_item .icon{
    @apply text-[18px] 
  }
  .bottom_nav_item.active{
 
    @apply text-main-green
  }

  .step_count{
    @apply inline-flex justify-center items-center text-center font-normal text-[10px] md:text-ls text-white w-[16px] md:w-[24px] h-[16px] md:h-[24px] rounded-full bg-[#A0ABBB] mr-0 md:mr-[8px]
  }
  .step_count.active{
    @apply bg-[#36CFA1]
  }
  .step_border{
    @apply border-[#64748B] w-[45px] md:w-[54px] 
  }
  .step_text{
    @apply text-[14px] leading-[20px] md:text-ls text-[#64748B]  md:static bottom-0 top-full right-0  whitespace-nowrap
  }
  .step_text.active{
    @apply text-[#30B68D]
  }


}